@media (min-width: 768px) {
    body {
        padding: 3rem;
    }

    .palette {
        justify-content: flex-start;
    }

    .wireframe-image {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}